[Unit]
Description=WeatherPi monitoring
After=multi-user.target

[Service]
Type=simple
Restart=always
User=vernon
ExecStart=/usr/bin/python /home/vernon/Documents/weatherbit.py

[Install]
WantedBy=multi-user.target
